Repository hmcts/pcs-frontend, pull requests merged in 2024-11, with the labels that each got.

#41 Hdpi 23 redis env var connection
  .pnp.cjs
  .yarn/install-state.gz
  charts/pcs-frontend/Chart.yaml
  charts/pcs-frontend/values.preview.template.yaml
  charts/pcs-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  package.json
  src/main/routes/home.ts
  src/main/views/home.njk
  src/test/functional/features/hello-world.feature
  src/test/smoke/smoke.ts
  yarn.lock
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-41

#44 try/catch for redis connection
  charts/pcs-frontend/Chart.yaml
  sonar-project.properties
  src/main/routes/home.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-44

#75 added app insights connection string
  .gitignore
  .pnp.cjs
  .pnp.loader.mjs
  README.md
  charts/pcs-frontend/Chart.yaml
  charts/pcs-frontend/values.yaml
  config/default.json
  src/main/modules/appinsights/index.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-75

#76 Fix ingress url
  charts/pcs-frontend/Chart.yaml
  charts/pcs-frontend/values.yaml
Labels: ns:pcs, prd:pcs, rel:pcs-frontend-pr-76

#80 HDPI-82 - Add local redis cache
  README.md
  charts/pcs-frontend/values.preview.template.yaml
  config/custom-environment-variables.json
  docker-compose.yml
  src/main/modules/session/index.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-80

#96 HDPI-88 - Assigning cloud role before starting appInsights
  src/main/modules/appinsights/index.ts
Labels: ns:pcs, prd:pcs, rel:pcs-frontend-pr-96
