Repository hmcts/pcs-frontend, pull requests merged in 2025-09, with the labels that each got.

#595 HDPI-1348 Old journey deletion
  config/test.json
  src/test/ui/functional/possessionClaims.spec.ts
Labels: ns:pcs, prd:pcs, rel:pcs-frontend-pr-595

#593 HDPI-1348 - removing the old journey
  config/test.json
  src/main/assets/locales/en/page1.json
  src/main/assets/locales/en/page2.json
  src/main/assets/locales/en/page3No.json
  src/main/assets/locales/en/page3Yes.json
  src/main/assets/locales/en/page4.json
  src/main/steps/index.ts
  src/main/steps/page1/index.ts
  src/main/steps/page2/index.ts
  src/main/steps/page3No/index.ts
  src/main/steps/page3Yes/index.ts
  src/main/steps/page4/index.ts
  src/main/views/steps/page1.njk
  src/main/views/steps/page2.njk
  src/main/views/steps/page3No.njk
  src/main/views/steps/page3Yes.njk
  src/main/views/steps/page4.njk
  src/test/ui/functional/possessionClaims.spec.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-593

#594 HDPI-1599: email and DOB validation bugs
  src/main/assets/locales/cy/eligibility.json
  src/main/assets/locales/en/eligibility.json
  src/main/journeys/eligibility/steps/page5/step.ts
  src/main/modules/helmet/index.ts
  src/main/modules/journey/engine/date.schema.ts
  src/main/modules/journey/engine/engine.ts
  src/main/modules/journey/engine/errorUtils.ts
  src/main/modules/journey/engine/schema.ts
  src/main/modules/journey/engine/validation.ts
  src/test/unit/modules/helmet/index.test.ts
  src/test/unit/modules/journey/engine/date.schema.test.ts
  src/test/unit/modules/journey/engine/engine.test.ts
  src/test/unit/modules/journey/engine/errorUtils.test.ts
  src/test/unit/modules/journey/engine/validation.test.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-594

#615 Hdpi 1779 address capture
  JOURNEY_ENGINE_README.md
  config/default.json
  src/main/assets/js/index.ts
  src/main/assets/js/postcode-lookup.ts
  src/main/assets/js/postcode-select.ts
  src/main/assets/locales/cy/eligibility.json
  src/main/assets/locales/en/eligibility.json
  src/main/assets/scss/main.scss
  src/main/interfaces/osPostcodeLookup.interface.ts
  src/main/journeys/eligibility/index.ts
  src/main/journeys/eligibility/steps/correspondenceAddress/correspondenceAddress.njk
  src/main/journeys/eligibility/steps/correspondenceAddress/step.ts
  src/main/journeys/eligibility/steps/page2/step.ts
  src/main/journeys/eligibility/steps/page3/step.ts
  src/main/journeys/eligibility/steps/page5/step.ts
  src/main/journeys/example/index.ts
  src/main/journeys/templates/respondToClaim.njk
  src/main/modules/helmet/index.ts
  src/main/modules/journey/engine/engine.ts
  src/main/modules/journey/engine/schema.ts
  src/main/modules/journey/engine/validation.ts
  src/main/modules/nunjucks/filters/setAttribute.ts
  src/main/routes/postcodeLookup.ts
  src/main/services/osPostcodeLookupService.ts
  src/main/views/_defaults/form.njk
  src/main/views/_defaults/summary.njk
  src/main/views/components/addressLookup.njk
  src/test/unit/assets/js/postcode-lookup.test.ts
  src/test/unit/assets/js/postcode-select.test.ts
  src/test/unit/modules/helmet/index.test.ts
  src/test/unit/modules/journey/engine/engine.test.ts
  src/test/unit/services/osPostcodeLookupService.test.ts
  src/types/global.d.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-615
