Repository hmcts/pcs-frontend, pull requests merged in 2025-08, with the labels that each got.

#530 Hdpi 1365 idam login refactor
  Jenkinsfile_CNP
  src/test/ui/config/global-setup.config.ts
  src/test/ui/functional/dashboard.spec.ts
  src/test/ui/functional/home.spec.ts
  src/test/ui/functional/possessionClaims.spec.ts
  src/test/ui/test-README.md
  src/test/ui/utils/actions/custom-actions/createUserAndLogin.action.ts
  src/test/ui/utils/actions/custom-actions/login.action.ts
  src/test/ui/utils/controller.ts
  src/test/ui/utils/helpers/accessibility.helper.ts
  src/test/ui/utils/helpers/idam-helpers/idam.helper.ts
  src/test/ui/utils/helpers/idam-helpers/rest.helper.ts
  src/test/ui/utils/helpers/idam-helpers/retry.helper.js
  src/test/ui/utils/helpers/idam-helpers/testConfig.ts
  src/test/ui/utils/helpers/testRunner.helper.ts
  src/test/ui/utils/interfaces/action.interface.ts
  src/test/ui/utils/registry/action.registry.ts
Labels: ns:pcs, prd:pcs, rel:pcs-frontend-pr-530

#549 HDPI-1494
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:pcs, prd:pcs, rel:pcs-frontend-pr-549

#556 HDPI-699: reverting ccd url
  charts/pcs-frontend/Chart.yaml
  charts/pcs-frontend/values.yaml
  config/default.json
Labels: ns:pcs, prd:pcs, rel:pcs-frontend-pr-556

#559 HDPI-1601: Update bitnami acr path
  docker-compose.yml
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-559

#512 HDPI-701 dynamic form builder negative paths
  src/main/journeys/eligibility/steps/confirmation/confirmation.njk
  src/main/journeys/eligibility/steps/ineligible/ineligible.njk
  src/main/journeys/eligibility/steps/page4/step.ts
  src/main/journeys/eligibility/steps/page5/step.ts
  src/main/journeys/eligibility/steps/start/start.njk
  src/main/journeys/example/index.ts
  src/main/modules/journey/engine/date.schema.ts
  src/main/modules/journey/engine/engine.ts
  src/main/modules/journey/engine/errorUtils.ts
  src/main/modules/journey/engine/schema.ts
  src/main/modules/journey/engine/storage/redisStore.ts
  src/main/modules/journey/engine/validation.ts
  src/main/views/_defaults/confirmation.njk
  src/main/views/_defaults/form.njk
  src/main/views/_defaults/ineligible.njk
  src/main/views/_defaults/summary.njk
  src/main/views/journeyTemplate.njk
  src/test/unit/modules/journey/engine/date.schema.test.ts
  src/test/unit/modules/journey/engine/engine.test.ts
  src/test/unit/modules/journey/engine/errorUtils.test.ts
  src/test/unit/modules/journey/engine/schema.test.ts
  src/test/unit/modules/journey/engine/storage/redisStore.test.ts
  src/test/unit/modules/journey/engine/storage/sessionStore.test.ts
  src/test/unit/modules/journey/engine/validation.test.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-512

#555 Hdpi 1590
  charts/pcs-frontend/Chart.yaml
  src/main/routes/registerSteps.ts
  src/main/steps/userJourney/application-submitted/index.ts
  src/main/steps/userJourney/enter-address/index.ts
  src/main/steps/userJourney/enter-user-details/index.ts
  src/main/steps/userJourney/summary/index.ts
  src/main/utils/getValidatedLanguage.ts
  src/test/unit/routes/registerSteps.test.ts
  src/test/unit/utils/getValidatedLanguage.test.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-555

#569 HDPI-1613-removing-courts-endpoint
  src/main/interfaces/courtVenue.interface.ts
  src/main/routes/postcode.ts
  src/main/services/pcsApi/pcsApiService.ts
  src/main/views/postcode.njk
  src/test/unit/routes/postcode.test.ts
  src/test/unit/services/pcsApi/pcsApiService.test.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-569

#576 HDPI-1688: fortify scan issues
  charts/pcs-frontend/Chart.yaml
  src/main/interfaces/stepFormData.interface.ts
  src/main/steps/userJourney/application-submitted/index.ts
  src/main/steps/userJourney/enter-address/index.ts
  src/main/steps/userJourney/enter-user-details/index.ts
  src/main/steps/userJourney/summary/index.ts
  src/main/utils/getValidatedLanguage.ts
  src/test/unit/utils/getValidatedLanguage.test.ts
Labels: ns:pcs, prd:pcs, enable_keep_helm, rel:pcs-frontend-pr-576
